h1 {
 color: #8DECB4;
  font-size: 50px;
  font-family: "Comfortaa", sans-serif;
  } 
img {
  width: 700px;
}
p {
  color: #FFF5E0;
  font-size: 20px;
  font-family: "Arimo", sans-serif;
}
body {
  background-color: #141E46;
 
}
h2 {
 font-size: 40px;
  color: #8DECB4;
} fond defis